
{% extends "base.html"%}

{% block titulo%}
Citas reservadas
{% endblock %}


{% block contenido%}
<div class="container">
    {% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
    <p>{{message}}</p>
{% endfor %}
{% endif %}
{% endwith %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/estilo_admin.css">
    <title>Admin</title>
    <link rel="icon" type="image/png" href="/static/logo1.png">
</head>
<body>
    <section>
        <h1 class="logo">Fania's<span class="punto">.</span></h1>
        <div class="separador">
            <ul>
                <li><a class="pedidos" href="#">Pedidos</a></li>
                <li><a class="reservaciones" href="#">Reservaciones</a></li>
                <li><a class="salir" href="{{ url_for('layout') }}">Cerrar Sesión</a></li>
                <li><a class="salir" href="{{url_for('datos')}}">Refrescar pagina</a></li>
            </ul>
            
        </div>
    </section>

    <h1>Citas pendientes</h1>
    
    <table class="table table-hover table-dark">
        <thead>
          <tr>
            <th scope="col">Identificacion</th>
            <th scope="col">Nombre</th>
            <th scope="col">Email</th>
            <th scope="col">Celular</th>
            <th scope="col">Estado</th>
            <th scope="col">Finalizado</th>
            <th scope="col">Opciones</th>           
          </tr>
        </thead>
        <tbody>
            {%for resultados in data %}
            <tr>
                <td>{{resultados['id']}}</td>
                <td>{{resultados['nombre']}}</td>
                <td>{{resultados['email']}}</td>
                <td>{{resultados['celular']}}</td>
                <td>{{resultados['status']}}</td>
                <td>{{resultados['finalizado']}}</td>
                <td>
                    <a class="eliminar" href="/eliminar/{{resultados['id']}}">eliminar</a>
                    <a class="eliminar" href="/finalizar/{{resultados['id']}}">finalizado</a>                     
                </td>

            </tr>
            {% endfor %}
        </tbody>
      </table>
    {% endblock %} 
</body>
<script src="/static/js/admin_darkmode.js"></script>
</html>
    