<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Cita</title>
    <link rel="stylesheet" href="/static/actualizar_datos.css">
    <link rel="icon" type="image/png" href="/static/img/logofanias.png">
    <link rel="stylesheet" media="only screen and (max-width: 768px)" href="/static/actualizar_datos.css">
</head>
<body>
    <div class="otracosa">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <section>
        <div class="color">
            <h2 class="h1">Ingresa tus datos</h2>
        </div>
        <div class="container">
            <div class="user singinbx">
                <div class="formbox">
                    <form action="{{url_for('agendar')}}" enctype="multipart/form-data" method="POST">
                        <h2>Agendar</h2>
                        <input type="text" name="username" placeholder="Nombre" value="{{ username }}">
                        <input type="email" name="email" placeholder="Correo" value="{{ email }}">
                        <input type="text" name="celular" placeholder="Celular" value="{{ celular }}">
                        <input type="date" id="fecha" name="fecha">
                        <br>
                        <input type="submit" name="" value="Agendar">
                    </form>
                </div>
                <div class="imgbox"><img src="/static/FaniaReserva.jpeg"></div>
            </div>     
        </div>
    </section>
</body>
</html>
